{% extends "layout.html" %}
{% block title %}Uusi ketju{% endblock %}
{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='styles/thread.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='styles/login.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="app">
    <div class="main-container">
        <div class="nav-bar"><a href="/" class="link">Koti</a><span>/</span><span>Uusi ketju</span></div>
        <div class="title-bar">
            <div class="title-container">
                <div class="title-text">Uusi ketju</div>
            </div>
            <div class="login-area">
                {% if session.user_id %}
                <div class="login-area__name">Kirjauduttu sisään nimellä <b>{{ session.username }}</b></div>
                <a href="/logout" class="button login-area__button">Kirjaudu ulos</a>
                {% else %}
                <div class="login-area__name">Uloskirjauduttu</div>
                <a href="/login" class="button login-area__button">Kirjaudu sisään</a>
                {% endif %}
            </div>
        </div>
        <div class="content">
            <div class="main-error" id="thread_error" style="display: none;"></div>
            {% if session.user_id %}
            <div class="newmessage-area">
                <form action="/threads/new" method="POST" class="login-form" onsubmit="return check(this)">
                    <div class="login-form-item">
                        <div class="login-form-title">Otsikko</div>
                        <input type="text" name="title" required>
                    </div>
                    <div class="login-form-title">Aloitusviesti</div>
                    <textarea id="message_content" name="message_content" placeholder="..." required
                        oninput='this.style.height = "";this.style.height = "calc(" + this.scrollHeight + "px - 1rem)"'></textarea>
                    <div class="submit-row">
                        <input type="submit" value="Luo ketju" class="button login-area__button login-form-button">
                        <input type="hidden" name="board_id" value="{{ board_id }}">
                    </div>
                </form>
            </div>
            {% else %}
            <div class="main-error">Kirjaudu sisään luodaksesi uuden ketjun</div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    function check(form) {
        if (form.title.value.length > 32) {
            $('#thread_error').html('Otsikko on liian pitkä').css('display', 'block');
            return false;
        }
        if (form.message_content.value.length > 512) {
            $('#thread_error').html('Viesti on liian pitkä').css('display', 'block');
            return false;
        }
        $('#thread_error').html('').css('display', 'none');
        return true;
    }
</script>
{% endblock %}