{% extends "layout.html" %}
{% block title %}{{ data[0].thread_title }}{% endblock %}
{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='styles/thread.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='styles/login.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="app">
    <div class="main-container">
        <div class="nav-bar"><a href="/" class="link">Koti</a><span>/</span><a href="/boards/{{ data[0].board_id }}"
                class="link">{{ data[0].name }}</a><span>/</span><span>{{ data[0].thread_title }}</span></div>
        <div class="title-bar">
            <div class="title-container">
                <div class="title-text">{{ data[0].thread_title }}</div>
                <div class="started-at">aloitettu <time class="timeago" datetime="{{ data[0].sent_at }}">{{
                        data[0].sent_at }}</time></div>
            </div>
            <div class="login-area">
                {% if session.user_id %}
                <div class="login-area__name">Kirjauduttu sisään nimellä <b>{{ session.username }}</b></div>
                <a href="/logout" class="button login-area__button">Kirjaudu ulos</a>
                {% else %}
                <div class="login-area__name">Uloskirjauduttu</div>
                <a href="/login" class="button login-area__button">Kirjaudu sisään</a>
                {% endif %}
            </div>
        </div>
        <div class="content">
            {% for message in data %}
            <div class="message">
                <div class="message-header">
                    <div class="message-author">
                        {% if message.op == True %}
                        <div class="message-op">AP</div>
                        {% endif %}
                        <div class="message-username">{{ message.username }}</div>
                        <div class="message-timestamp"><time class="timeago" datetime="{{ message.sent_at }}">{{
                                message.sent_at }}</time></div>
                    </div>
                    <div class="message-controls">
                        {% if message.author_id == session.user_id %}
                        <div class="message-control message-delete link" data-message-id="{{ message.id }}">Poista viesti</div>
                        {% endif %}
                    </div>
                </div>
                <div class="message-content">{{ message.content }}</div>
            </div>
            {% endfor %}
            {% if session.user_id %}
            <hr>
            <div class="newmessage-area">
                <div class="newmessage-title">Uusi viesti</div>
                <form action="/send" method="POST" class="login-form">
                    <textarea id="message_content" name="message_content" placeholder="..."
                        oninput='this.style.height = "";this.style.height = "calc(" + this.scrollHeight + "px - 1rem)"'></textarea>
                    <div class="submit-row">
                        <input type="submit" value="Lähetä viesti" class="button login-area__button login-form-button">
                        <input type="hidden" name="thread_id" value="{{ data[0].thread_id }}">
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    $('.message-delete').click(function (event) {
        let message_id = $(this).data('messageId');
        let url = `/messages/${message_id}`;
        $.ajax({ url: url, type: 'DELETE', }).done((data) => { location.reload(); });
    });
</script>
{% endblock %}