{% extends "layout.html" %}
{% block title %}Ei pääsyä{% endblock %}
{% block content %}
<div class="app">
    <div class="main-container">
        <div class="nav-bar"><a href="/" class="link">Koti</a><span>/</span><span>Ei pääsyä</span></div>
        <div class="title-bar">
            <div class="title-text">TSOHA-Forum</div>
            <div class="login-area">
                {% if session.user_id %}
                    <div class="login-area__name">Kirjauduttu sisään nimellä <b>{{ session.username }}</b></div>
                    <a href="/logout" class="button login-area__button">Kirjaudu ulos</a>
                {% else %}
                    <div class="login-area__name">Uloskirjauduttu</div>
                    <a href="/login" class="button login-area__button">Kirjaudu sisään</a>
                {% endif %}
            </div>
        </div>
        <div class="content">
            <div class="unauthorized">Ei oikeutta näyttää tätä sivua</div>
        </div>
    </div>
</div>
{% endblock %}