.login-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login-form-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.login-form-button {
    width: fit-content;
    margin-top: 8px;
    font-size: 0.7rem;
    height: 1.7rem;
}

input {
    border: none;
    height: 1.2rem;
    padding: 0.3rem 0.6rem;
    background-color: var(--foreground);
    width: 30%;
    color: var(--body-text);
    border-radius: 4px;
    transition: 100ms ease background-color;
}

input:focus {
    outline: 2px solid var(--foreground-hover);
    background-color: var(--foreground-hover);
}