.login-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login-form-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.login-form-item__inline {
    display: flex;
    justify-content: flex-start;
    gap: 4px;
}

input,
textarea {
    border: none;
    height: 1.2rem;
    line-height: 1rem;
    padding: 0.3rem 0.6rem;
    background-color: var(--foreground);
    color: var(--body-text);
    border-radius: 4px;
    transition: 100ms ease background-color;
    font-family: 'Noto Sans', 'Helvetica', 'Arial', sans-serif;
}

input {
    width: 30%;
}

.checkbox {
    height: 1.2rem;
    width: 1.2rem;
    line-height: 1rem;
    transform: translateY(-4px);
}

input:focus,
textarea:focus {
    outline: 2px solid var(--foreground-focus);
    background-color: var(--foreground-hover);
}

.register-link {
    font-size: 0.8rem;
}

#nomatch {
    font-size: 0.8rem;
    color: var(--error);
    opacity: 0;
    transition: 100ms ease;
}

.form-title__error {
    margin-left: 12px;
    font-size: 0.8rem;
    color: var(--error);
    opacity: 0;
    transition: 100ms ease;
}

.main-error {
    font-size: 0.8rem;
    color: var(--error);
    margin-bottom: 12px;
}